main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 60px;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main h1 {
    font-family: var(--font-family-title);
    font-size: 55px;
    width: 550px;
    margin: 0;
}

.content-main h1 span {
    color: var(--color-orange);
}

.content-main p {
    width: 550px;
    font-size: 16px;
    font-family: var(--font-family-body);
    color: var(--color-l_gray);
}

.conteiner-btn-main {
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: var(--color-dark);
    font-family: var(--font-family-title);
    padding: 12px 30px;
    color: #fff;
    border-radius: 15px 3px;
}

 a {
        text-decoration: none;
    }

.btn-secondary {
    background-color: var(--color-orange);
    font-family: var(--font-family-title);
    padding: 12px 30px;
    color: #fff;
    border-radius: 15px 3px;
}