:root{
  --color-orange: #EA6D27;
  --color-white: #FFFFFF;
  --color-dark: #101821;
  --color-l_gray: #5C6574;

  --font-size-h1: 60px;
  --font-size-h2: 48px;
  --font-size-h3: 28px;
  --font-size-h4: 22px;
  --font-size-button: 20px;
  --font-size-body: 16px;

  --font-family-title: "David Libre", serif;
  --font-family-body: "Inter", sans-serif;
}